@font-face {
	font-family: 'laCartoonerie';
	src: url('laCartoonerie.eot');
	src: local('laCartoonerie'), url('laCartoonerie.woff') format('woff'), url('laCartoonerie.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1396">Text with this font applied</p> */
.fontsforweb_fontid_1396 {
	font-family: 'laCartoonerie' !important;
}

body {
	font-family: 'laCartoonerie';
}
h1 {
    text-align: center;
    margin-top: 100px;
    margin-left: 140px;
}

.big{ width: 3em; height: 3em; }

.end-bg {
	width: 1280px;
	height: 800px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url("../image/background.png");
	background-repeat: repeat;
}

#next{
	position: absolute;
	width: 268px;
	height: 194px;
	margin-top: 340px;
	margin-left: 540px;
}
