/*body {
    font-family: Open Sans;
}*/

@font-face {
	font-family: 'laCartoonerie';
	src: url('laCartoonerie.eot');
	src: local('laCartoonerie'), url('laCartoonerie.woff') format('woff'), url('laCartoonerie.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1396">Text with this font applied</p> */
.fontsforweb_fontid_1396 {
	font-family: 'laCartoonerie' !important;
}

body {
	font-family: 'laCartoonerie';
}


h1 {
    text-align: center;
}

.big{ width: 5em; height: 5em; }

#title {
    padding-top: 30px;
}

/* This is the display for the quiz questions and answers text. */
#quiz {
    text-indent: 0px;
    display:none;
    font-size: 28px;
}

/* This is the background that goes behind the question container box. */
.questions-bg {
	width: 1280px;
	height: 800px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url("../image/background-questions.png");
	background-repeat: repeat;
}

/* This is the button style for the Next and Prev buttons. */
/*.button {
    border:4px solid;
    border-radius:5px;
    width: 90px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    font-size: 30px;
    margin: 0 2px 0 2px;
    margin-top: 50px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}*/

#next {
	position: relative;
	margin-top: -90px;
	margin-left: 900px;
}

/* These are the buttons that are initially set to invisible. */
#prev {
	display:none;
	position: relative;
	margin-top: -200px;
	margin-left: 150px;
}

/* This is for showing the "next" button at the end of the questionnaire*/
#finish {
   display:none;
   position:relative;
   margin-top: -90px;
   margin-left: 550px;
}

/* This is the container where questions are displayed. */
#container {
    width:75%;
    margin:auto;
    margin-top: 90px;
    padding: 0 25px 140px 25px;
    background-color: #ccffff;
    color: black;
    font-size: 28px;
    font-weight: bold;
    font-family: 'laCartoonerie'
    height: absolute;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:inline;
}

li {
	padding: 20px;
        margin: 100px;
	display:inline;
	font-size: 28px;
}
